.cardList
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  padding: 44px 0 0 0

.pagination
  display: flex
  flex-direction: row
  list-style: none
  width: 100%
  height: 41px
  justify-content: flex-end
  align-items: center
  &__button
    display: flex
    align-items: center
    justify-content: center
    color: white
    width: 41px
    height: 41px
    background: #000000
    border: 1px solid #FFFFFF

.active
  color: #000000
  background: white
.previous
  border-top-left-radius: 20%
  border-bottom-left-radius: 20%
.next
  border-top-right-radius: 20%
  border-bottom-right-radius: 20%

@media screen and (max-width: 320px)
  .cardList
    flex-wrap: nowrap
    flex-direction: column
    padding: 24px 0 0 0